form{
  width: fit-content;
  margin: 0 auto;
}
input{
  margin: 10px auto;
}
section{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
h1{
  text-indent: 40px;
}
.bi-person-fill, #photo h1{
  display: inline;
}
.bi-person-fill{
  font-size: 60px;
}
#archive, #posts{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
}
.button{
  width: fit-content;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  background-color: rgb(246, 241, 239);
  color: rgb(148, 116, 129);
  border: 1.5px solid rgb(148, 116, 129);
  border-radius: 8px;
  margin: 20px auto;
  padding: 5px 10px;
  box-shadow: none;

}
#sign{
  text-align: right;
  text-decoration: none;
  margin: 0px;
}
#sign:hover{
  text-decoration: underline;
}
#title{
  display: block;
  margin: 60px auto 30px auto;
  width: 200px;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
@media screen and (max-width: 1000px){
  #archive, #posts{
    grid-template-columns: auto auto;
  }
  .card{
    width: 95% !important;
  }
}
@media screen and (max-width: 500px){
  #archive, #posts{
    grid-template-columns: auto;
  }
}