.poems{
	margin: 40px auto auto auto!important;
	display: grid;
	grid-template-columns: auto auto auto; 
	justify-content: center;
	grid-column-gap: 40px;
}
.card{
	font-family: 'Playfair Display', serif;
	background-color: rgb(246, 241, 239);
	border-radius: 20px;
	margin: auto;
	margin-bottom: 30px;
}
.card-text{
	overflow: hidden;
	height: 100px;
}
.card-body{
	height: auto;
}
.card-image-top{
	border-radius: 8px !important;

}
.btn-primary, .btn-primary:hover, .btn-primary:focus{
	width: fit-content;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	background-color: rgb(246, 241, 239);
	color: rgb(148, 116, 129);
	border: 1.5px solid rgb(148, 116, 129);
	border-radius: 8px;
	margin: 20px auto;
	padding: 5px 10px;
	box-shadow: none;
}
@media screen and (max-width: 900px){
	.poems{
		grid-template-columns: auto auto;
	}
	.card{
		width: 95% !important;
	}
}
@media screen and (max-width: 500px){
	.poems{
		grid-template-columns: auto;
	}
}